@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
  color: #666;
}

.content {
  height: 100vh;
  display: grid;
  grid-template-rows: 100px auto 50px;
  text-align: center;
}

.answer {
  background-color: #666;
  width: 50%;
  padding: 0.5em;
  border-radius: 5px;
  margin: 0 auto;
  text-align: left;
  color: #fff;

  span {
    font-weight: bold;
  }
}

.currentYear {
  background-color: #ccc;
}